<?xml version="1.0" encoding="UTF-8" standalone="no"?>
{% set width = "8.5in" %}
{% set height = "11in" %}
{% set layer_height = 45 %}
{% set layer_space = 75 %}
{% set layer_start = 100 %}
{% set connect_top_front = layer_start + layer_space + layer_height %}
{% set connect_top_back = layer_start + layer_space %}
{% set connect_btm_front = connect_top_front + (layer_space * (layers | length - 1)) %}
{% set connect_btm_back = connect_top_back + (layer_space * (layers | length - 1)) %}

<!--TODO 
1. calculate line height / top / bottom based on count of layers
2. calculate text position based on label char length 
3. calculate position of ribbon
-->
<svg xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg" 
   id="gen8diagram-letter"
   width="{{ width }}"
   height="{{ height }}"
   viewBox="0 0 816 1056"
   version="1.1">
  <style>
    .title {
      font-family: 'Red Hat Display', sans-serif;
      font-size: 24px;
      fill: black;
    }
    .body {
      font-family: 'Red Hat Text', sans-serif;
      font-size: 16px;
      fill: gray;
    }
    .label {
      font-family: 'Overpass', sans-serif;
      font-size: 14px;
      fill: blue;
    }
    .margin {
      fill:{{ page.margin_color }};
      stroke-width: 1.03114;
    }
    .stop {
        stop-opacity:1;
    }
    .layerSkewBox {
        fill-opacity:1;
        stroke-width:0.513004;
    }
    .vertLine {
        stroke:#888;
        stroke-opacity:5%;
        stroke-width:2;
        stroke-dasharray:2.5,2.5;
    }
    .layerText {
        font-size:10px;
        text-align:start;
        writing-mode:lr-tb;
        direction:ltr;
        white-space:pre;
        display:inline;
        fill:#214478;
        font-family:'Red Hat Display';
        text-align:center;
        text-anchor:middle;
        fill:#ffffff
    }
    .layerTextTspan {
        font-family:'Red Hat Display';
        text-align:center;
        text-anchor:middle;
        fill:#ffffff
    }
    
    {% for layer_def_name in layer_defs %}
    {% set layer_def = layer_defs[layer_def_name] %}
    #{{ layer_def_name }}GradientFront {
        stop-color:{{ layer_def.gradient_front }};
    }
    #{{ layer_def_name }}GradientBack {
        stop-color:{{ layer_def.gradient_back }};
    }
    {% endfor %}
    

    #testDefGradientFront {
        stop-color:#f91100;
    }
    #testDefGradientBack {
        stop-color:#000;
    }
    
  </style>

  <defs id="defs1">

    {% for layer in layers %}
    {% set layer_def = layer_defs[layer.layer_def] %}
    {% if (layer.label | length) < 40 %}
    {% set text_top = 15 %}
    {% set text_height = 15 %}
    {% elif (layer.label | length) < 60 %}
    {% set text_top = 10 %}
    {% set text_height = 30 %}
    {% else %}
    {% set text_top = 5 %}
    {% set text_height = 60 %}
    {% endif %}
    <rect id="{{ layer.id }}TextSingle" x="32" y="{{ text_top }}" width="160" height="{{ text_height }}" />
    {% endfor %}
     
    <rect id="testDefTextSingle" x="26" y="5" width="180" height="45" />
  </defs>

  <g id="page">
    <rect id="marginLeft" class="margin" width="{{ page.margin_width }}" height="1056" x="0" y="0" />
    <!--<rect id="marginBottom" class="margin" width="816" height="112" x="0" y="946" />-->

    <line x1="115" y1="{{ connect_top_back }}" x2="115" y2="{{ connect_btm_back }}" class="vertLine" />
    <line x1="313" y1="{{ connect_top_back }}" x2="313" y2="{{ connect_btm_back }}" class="vertLine" />


    {% for layer in layers %}

    <g id="{{ layer.id }}Shape" transform="translate(80, {{ loop.index | int * layer_space + layer_start }})">
        <linearGradient id="{{ layer.layer_def }}GradientStops">
          <stop id="{{ layer.layer_def }}GradientFront" class="stop" offset="0" />
          <stop id="{{ layer.layer_def }}GradientBack" class="stop" offset="1" />
        </linearGradient>
        <linearGradient id="{{ layer.layer_def }}Gradient" xlink:href="#{{ layer.layer_def }}GradientStops"
            x1="1022" y1="811" x2="1017" y2="641"
            gradientTransform="matrix(0.7,0,0,0.7,-554,-507)" gradientUnits="userSpaceOnUse"/>
        <!--<rect id="{{ layer.layer_def }}TextDouble1" x="364" y="50" width="230" height="32" />-->
        <!--<rect id="{{ layer.layer_def }}TextDouble2" x="369" y="50" width="216" height="32" />-->
        <!--<rect id="{{ layer.layer_def }}TextSingle" x="364" y="50" width="178" height="32" />-->
        <rect id="rect{{ layer.id }}" class="layerSkewBox"
            style="fill:url(#{{ layer.layer_def }}Gradient);"
            width="201" height="54" x="33" y="0.5" ry="0"
            transform="matrix(1,0,-0.6,0.8,0,0)" />
        <text id="{{ layer.id }}Text" class="layerText" style="shape-inside:url(#{{ layer.id }}TextSingle);"
            x="0" y="0" transform="translate(0,0)">{{ layer.label }}</text>

        <!--<text id="{{ layer.id }}Text" class="layerText" style="shape-inside:url(#{{ layer.layer_def }}TextSingle);"-->
        <!--    x="0" y="0" transform="translate(-340,-33)">-->
        <!--    <tspan x="0" y="20" id="{{ layer.id }}SingleTspanBox">-->
        <!--        <tspan id="{{ layer.id }}TspanSingle" class="layerTextTspan">{{ layer.label }}</tspan>-->
        <!--    </tspan>-->
        <!--</text>-->
        <!--<text id="textA{{ layer.id }}" class="layerText" style="shape-inside:url(#{{ layer.layer_def }}TextDouble1);"-->
        <!--    x="124" y="0" transform="translate(-355,-42)">-->
        <!--    <tspan x="401" y="60" id="{{ layer.id }}TspanDouble1Box">-->
        <!--        <tspan id="{{ layer.id }}TspanDouble1" class="layerTextTspan">{{ layer.text1 }}</tspan>-->
        <!--    </tspan>-->
        <!--</text>-->
        <!--<text id="textB{{ layer.id }}" class="layerText" style="shape-inside:url(#{{ layer.layer_def }}TextDouble2);"-->
        <!--    x="124" y="0" transform="translate(-365,-27)">-->
        <!--    <tspan x="446" y="60" id="{{ layer.id }}TspanDouble2Box" >-->
        <!--        <tspan id="{{ layer.id }}TspanDouble2" class="layerTextTspan">{{ layer.text2 }}</tspan>-->
        <!--    </tspan>-->
        <!--</text>-->
    </g>

    {% endfor %}
    
    <!--<g id="testShape" transform="translate(80,100)">-->
    <!--    <linearGradient id="testDefGradientStops">-->
    <!--      <stop id="testDefGradientFront" class="stop" offset="0" />-->
    <!--      <stop id="testDefGradientBack" class="stop" offset="1" />-->
    <!--    </linearGradient>-->
    <!--    <linearGradient id="testDefGradient" xlink:href="#testDefGradientStops"-->
    <!--        x1="1022" y1="811" x2="1017" y2="641"-->
    <!--        gradientTransform="matrix(0.7,0,0,0.7,-554,-507)" gradientUnits="userSpaceOnUse"/>-->
    <!--    <rect id="recttest" class="layerSkewBox"-->
    <!--        style="fill:url(#testDefGradient);"-->
    <!--        width="260" height="54" x="33" y="0.5" ry="0"-->
    <!--        transform="matrix(1,0,-0.6,0.8,0,0)" />-->
    <!--    <text id="texttest" class="layerText" style="shape-inside:url(#testDefTextSingle);"-->
    <!--        x="0" y="0" transform="translate(0,0)">ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF ASDF</text>-->

    <!--</g>-->
    
    <line x1="82" y1="{{ connect_top_front }}" x2="82" y2="{{ connect_btm_front }}" class="vertLine" />
    <line x1="280" y1="{{ connect_top_front }}" x2="280" y2="{{ connect_btm_front }}" class="vertLine" />

    <!--<g id="testShape" transform="translate(373,66) rotate(90)">-->
    <!--    <linearGradient id="testDefGradientStops">-->
    <!--      <stop id="testDefGradientFront" class="stop" offset="0" />-->
    <!--      <stop id="testDefGradientBack" class="stop" offset="1" />-->
    <!--    </linearGradient>-->
    <!--    <linearGradient id="testDefGradient" xlink:href="#testDefGradientStops"-->
    <!--        x1="1022" y1="811" x2="1017" y2="641"-->
    <!--        gradientTransform="matrix(0.7,0,0,0.7,-554,-507)" gradientUnits="userSpaceOnUse"/>-->
    <!--    <rect id="recttest" class="layerSkewBox"-->
    <!--        style="fill:url(#testDefGradient);"-->
    <!--        width="1000" height="54" x="33" y="0.5" ry="0"-->
    <!--        transform="matrix(1,0,0.82,0.6,0,0)" />-->
    <!--</g>-->
    
  </g>

</svg>
